# Local PostgreSQL (for development)
DATABASE_URL = postgresql://postgres:your-postgre-password@localhost:5432/autograder_local
# replace with DATABASE_URL = postgresql://admin:<password>@autograder-db.xxxxxx.us-east-1.rds.amazonaws.com/postgres

AWS_ACCESS_KEY_ID = abcdefg
AWS_SECRET_ACCESS_KEY = abcdefg
AWS_REGION = ap-south-1

REACT_APP_BACKEND_URL=http://127.0.0.1:5000