openapi: 3.0.4
info:
  title: AutoGrader.AI - OpenAPI 3.0
  description: |-
    AutoGrader.AI is a cloud-based smart code evaluation and feedback system.  
    Students submit assignments, which are graded automatically using hidden test cases.  
    The system returns feedback, scores, and plagiarism checks.  
    Instructors can view analytics and class performance stats.  

    This is the **Week 1 mock API spec** — all responses are dummy data.
  version: 0.1.0
servers:
  - url: https://api.autograder.ai/v1
tags:
  - name: submission
    description: Student submission and grading APIs
  - name: results
    description: Retrieve grading results
  - name: instructor
    description: Instructor-level analytics and stats

paths:
  /submit:
    post:
      tags:
        - submission
      summary: Submit code for grading
      description: A student submits code in a supported language. Returns a unique `submission_id`.
      operationId: submitCode
      security:
        - cognitoAuth: []
      requestBody:
        description: Submission payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Submission'
      responses:
        '200':
          description: Successfully queued submission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionResponse'
        '400':
          description: Invalid input
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /run:
    post:
      tags:
        - submission
      summary: Run code with custom input (non-graded)
      description: |
        Allows a student to run their code once with custom input.  
        This is **not** an official submission — no hidden test cases, no score.  
        Useful for debugging before submitting.
      operationId: runCode
      security:
        - cognitoAuth: []
      requestBody:
        description: Run request payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunRequest'
      responses:
        '200':
          description: Execution result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResponse'
        '400':
          description: Invalid input
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /results/{submission_id}:
    get:
      tags:
        - results
      summary: Get grading results
      description: Fetches the grading outcome for a given submission.
      operationId: getResults
      security:
        - cognitoAuth: []
      parameters:
        - name: submission_id
          in: path
          required: true
          description: Unique ID of the submission
          schema:
            type: string
      responses:
        '200':
          description: Grading result available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
        '404':
          description: Submission not found
        '202':
          description: Grading still in progress
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /instructor/stats:
    get:
      tags:
        - instructor
      summary: Get instructor stats
      description: Provides class-level aggregated performance metrics for instructors.  
        Instructor ID is inferred from the AWS Cognito JWT.
      operationId: getInstructorStats
      security:
        - cognitoAuth: []
      responses:
        '200':
          description: Aggregated stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructorStats'
        '403':
          description: Unauthorized access (not an instructor)
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Submission:
      type: object
      required:
        - language
        - code
      properties:
        student_id:
          type: string
          example: "S12345"
        assignment_id:
          type: string
          example: "A1"
        language:
          type: string
          example: "python"
          enum:
            - python
            - java
            - cpp
            - javascript
        code:
          type: string
          example: "print(sum(map(int, input().split())))"
        metadata:
          type: object
          description: Optional extra details
          example:
            timestamp: "2025-08-25T10:00:00Z"
            filename: "solution.py"

    SubmissionResponse:
      type: object
      properties:
        submission_id:
          type: string
          example: "subm-67890"
        status:
          type: string
          example: "queued"

    Result:
      type: object
      properties:
        submission_id:
          type: string
          example: "subm-67890"
        score:
          type: integer
          example: 85
        feedback:
          type: string
          example: "Good job, but optimize loops for efficiency."
        plagiarism_flag:
          type: boolean
          example: false
        test_case_results:
          type: array
          items:
            type: object
            properties:
              input:
                type: string
                example: "2 3"
              expected_output:
                type: string
                example: "5"
              actual_output:
                type: string
                example: "5"
              passed:
                type: boolean
                example: true

    InstructorStats:
      type: object
      properties:
        total_submissions:
          type: integer
          example: 120
        avg_score:
          type: number
          format: float
          example: 82.5
        flagged_submissions:
          type: integer
          example: 5
        top_students:
          type: array
          items:
            type: string
          example: ["S12345", "S67890"]

    RunRequest:
      type: object
      required:
        - language
        - code
      properties:
        language:
          type: string
          enum:
            - python
            - java
            - cpp
            - javascript
          example: "python"
        code:
          type: string
          example: "print(input())"
        custom_input:
          type: string
          description: Input string to feed to stdin
          example: "Hello World"

    RunResponse:
      type: object
      properties:
        stdout:
          type: string
          example: "Hello World\n"
        stderr:
          type: string
          example: ""
        exit_code:
          type: integer
          example: 0
        runtime_ms:
          type: integer
          example: 120

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: "ERR_400"
        message:
          type: string
          example: "Invalid request payload"

  securitySchemes:
    cognitoAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        JWT issued by AWS Cognito User Pool. Backend validates token and extracts user info (sub, email, role).

security:
  - cognitoAuth: []