AWS_ACCESS_KEY_ID=abcdefg
AWS_SECRET_ACCESS_KEY=abcdefg
AWS_DEFAULT_REGION=ap-south-1
SAGEMAKER_ROLE_ARN=arn:aws:iam::your-aws-id:role/your-role-name
S3_BUCKET=autograder-dummy
SAGEMAKER_ENDPOINT_NAME=plagiarism-detector